%h1 Nuevo post!


= form_for :post, url: posts_path do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :text
    = f.text_area :text
  %p
    = f.submit

= link_to "Back", posts_path